/* ==========================================================================
   Canvas
   ========================================================================== */

.rightPanel{
	z-index:10;
	margin-top:$margin-l;
	@include span(isolate 6 at 5 of 12);
}

	

	#canvas {
		background-color:$color-white;
		width: 600px; //these could be swapped based on size dropdown
		height: 600px; //these could be swapped based on size dropdown
		position:absolute;
		top:30px;
		left:30%;
	}