#imageEdit{
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	background: rgba(0,0,0,.85);
	z-index: 998;

	#PresetFilters{
		margin-top:20px;
	}

	.filter{
		width: 120px;
		position:relative;
		margin: 10px 50px 0;
		padding: 10px 15px 6px;
		@extend %type-drop-button2;
		float:left;
		clear:both;
		background: $color-gray-2;
		cursor: pointer;
		&.Active{
			background: $color-app-1;
			color:$color-gray-1;
			@include single-text-shadow(1px, 1px, 0, 0, rgba(255, 255, 255, .2));
		}
	}

	.dropzone{
		position: absolute;
		z-index: 9999999;
		left: 38%;
		top: 310px;
		@extend %type-dropzone;
		background: $color-app-1;
		padding: 10px 20px;
	}
}

	#preset-example{
		background-color:$color-white;
		width: 600px; //these could be swapped based on size dropdown
		height: 600px; //these could be swapped based on size dropdown
		@include single-box-shadow(rgba(0,0,0,.4), 0, 0, 20px);
		margin: 10px auto;
		border: 10px solid #dedede;
		position:absolute;
		left:250px;
	}

