/* ==========================================================================
   Panel Styles
   ========================================================================== */

.panel{
	@include color-bg-alpha(.65);
	@include span(12 of 12);
	padding:30px;
	color:$color-white;
	position:absolute;
	@include opacity(1);
	@include box-sizing(border-box);

	@include breakpoint(tablet){
		@include span(3 of 12);	
		height:100%;
	}
}

	.wrapper-drop-1{
		border: $border-app;
		margin-bottom: $margin-s;
		padding:15px;
		position: relative;

		@include breakpoint(tablet){
			margin-bottom: $margin-l;		
		}
	}

	.wrapper-drop-1:after{
		content:"";
		display:block;
		@include arrow( $direction: down, $color: $color-app-1 , $width: 5px, $height: 5px);
		position:absolute;
		right:15px;
		top:23px;
		display:inline;
	}

	.wrapper-drop-1 .drop {
	    /* Size & position */
	    position: absolute;
	    top: 100%;
	    left: 0; /* Size */
	    right: 0; /* Size */
	 
	    /* Hiding */
	    opacity: 0;
	    pointer-events: none;
	}

	button {
		width:100%;
		background: $color-app-1;
		border:none;
		padding:17px 15px 15px;
		position:absolute;
		bottom:0;
		left:0;
		@extend %type-drop-button; 
	}