/* ==========================================================================
   Panel Styles
   ========================================================================== */

.panel{
	@include color-bg-alpha(.65);
	@include span(12 of 12);
	padding:30px;
	color:$color-white;
	position:absolute;
	@include opacity(1);
	@include box-sizing(border-box);

	@include breakpoint(tablet){
		@include span(3 of 12);	
		height:100%;
	}
}

	.wrapper-drop-1{
		border: $border-app;
		margin-bottom: $margin-s;
		padding:15px;
		position: relative;
		width:100%;
		cursor:pointer;
		outline:none;
		@include box-sizing(border-box);

		@include breakpoint(tablet){
			margin-bottom: $margin-l;		
		}
	}

	.wrapper-drop-1:after{
		content:"";
		display:block;
		@include arrow( $direction: down, $color: $color-app-1 , $width: 5px, $height: 5px);
		position:absolute;
		right:15px;
		top:23px;
	}

	.wrapper-drop-1 .drop {
	    /* Size & position */
	    position: absolute;
	    top: 100%;
	    left: 0; /* Size */
	    right: 0; /* Size */
	    transition: all 0.3s ease-out;
    	list-style: none;
	 
	    /* Hiding */
	    opacity: 0;
	    pointer-events: none;
	}

	.wrapper-drop-1 .drop li a {
	    display: block;
	    text-decoration: none;
	    transition: all 0.3s ease-out;
	}
	 
	/* Hover state */
	.wrapper-drop-1 .drop li:hover a {
	    background: $color-app-1;
	}

	/* Active state */
	.wrapper-drop-1.active .drop {
	    opacity: 1;
	    pointer-events: auto;
	}


	button {
		width:100%;
		background: $color-app-1;
		border:none;
		padding:17px 15px 15px;
		position:absolute;
		bottom:0;
		left:0;
		@extend %type-drop-button; 
	}